# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
/ios
.DS_Store
*.pem

# android
/android
/build

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# test results
coverage/

video-diary-446815-80b24021a1f2.json 